.main-container
{
  border:1px solid black;
  dispaly:flex;
  flex-direction: column;
  box-shadow: -10px 10px 100px 50px rgba(0, 0, 0, 0.4);
  width:auto;
  height:auto;
  margin:auto;
  background-color:#EAEAEA;
  min-width:750px;
  max-width:1080px;
}
.main-container .nav
{
  background-color:#8ba4f7;
  display:flex;
  flex-direction:row;
  justify-content: center;
  height:75px;
  width:100%;
}
.main-container .nav div
{

  height:100%;
  width:auto;
  margin:auto;
}
.main-container .nav .logo
{

  height:100%;
  width:auto;
  display:block;
}
.logo-img
{

  width:100;
  height:100%;
}
.nav-img
{
  width: 100%;
  height:100%;
}
.main-container .head
{
  border-bottom:1px solid black;
  background-color:#8ba4f7;
  display:flex;
  flex-direction: row;
  height:35%;
  width:100%;
  justify-content: flex-start;
  padding-bottom:2%;
}
.main-container .head .logo-large
{
  margin-left:2%;
  width:25%;
  height:auto;
}
.img-logo-large
{
  height:100%;
  width:100%;
}
.main-container .head .info
{

  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
}
.main-container .head .info .title
{

  width:100%;
  height:50%;
}
.title-img
{
  width:100%;
  height:100%;
}
.main-container .head .info .tagline
{
  width:100%;
  height:50%;
  text-align: center;
  font-size:18pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.main-container .about, .donate, .location
{
  padding-top:1%;
  height:auto;
  width:100%;
  border-bottom:1px solid black;
}
.main-container .location
{
  background-color:#fdf8e0;
}
.main-container .about
{
    background-color:#fdf8e0;
}
.main-container .footer
{
  text-align:center;
  width:100%;
  height:auto;
  color:inherit;
}



.post-title
{
  height:45px;
  border-bottom: 2px solid black;
}
.post-style
{
  width:80%;
  margin-left:5%;
  font-family: 'Roboto', sans-serif;
}
.mission-content, .donate-content, .location-content
{

  display:flex;
  flex-direction: row;
  height:auto;
  width:80%;
  margin-left:10%;
  padding-bottom:10px;
}
.mission-content .post,
.donate-content .post,
.location-content .post
{
  display:flex;
  flex-direction:column;
  height:100%;
  width:auto;
  margin:auto;
  padding:1%;
}
.mission-content .post div ,.donate-conent .post div, .location-content .post div
{
  height:100%;
  width:100%;
}

.post-img
{
  border:1px solid black;
  width:100%;
  height:100%;
}



#about-us, #donate, #location
{
  font-family:sans-serif;
  font-weight: bolder;
  font-size: 36px;
  text-align:center;
}
