.main-container
{
  border-radius: 25px;
  border:1px solid black;
  dispaly:flex;
  flex-direction: column;
  box-shadow: -10px 10px 100px 50px rgba(0, 0, 0, 0.4);
  width:auto;
  height:auto;
  margin:auto;
  background-color:#EAEAEA;
  min-width:750px;
  max-width:1080px;
}
.main-container .nav
{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color:#8ba4f7;
  display:flex;
  flex-direction:row;
  justify-content: center;
  height:75px;
  width:100%;
}
.main-container .nav div
{

  height:100%;
  width:auto;
  margin:auto;
}
.main-container .nav div:hover
{
  transform:scale(1.1);
}
.main-container .nav .logo
{

  height:100%;
  width:auto;
  display:block;
}
.logo-img
{

  width:100;
  height:100%;
}
.nav-img
{
  width: 100%;
  height:100%;
}
.main-container .head
{
  padding-top:1%;
  border-bottom:1px solid black;
  background-color:#8ba4f7;
  display:flex;
  flex-direction: row;
  height:35%;
  width:100%;
  justify-content: flex-start;
  padding-bottom:2%;
}
.main-container .head .logo-large
{
  margin-left:2%;
  width:25%;
  height:auto;
}
.img-logo-large
{
  height:100%;
  width:100%;
}
.main-container .head .info
{

  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
}
.main-container .head .info .title
{

  width:100%;
  height:50%;
}
.title-img
{
  width:100%;
  height:100%;
}
.main-container .head .info .tagline
{
  width:100%;
  height:50%;
  text-align: center;
  font-size:18pt;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.main-container .about, .donate, .location
{
  padding-top:1%;
  height:auto;
  width:100%;
  border-bottom:1px solid black;
}
.main-container .location
{
  background-color:#fdf8e0;
}
.main-container .about
{
    background-color:#fdf8e0;
}
.main-container .footer
{
  text-align:center;
  width:100%;
  height:auto;
  color:inherit;
}



.post-title
{
  height:45px;
  border-bottom: 2px solid black;
}
.post-style
{
  text-align:center;
  width:85%;
  margin-left:7.5%;
  font-family: 'Roboto', sans-serif;
}
.mission-content, .donate-content, .location-content
{

  display:flex;
  flex-direction: row;
  height:auto;
  width:80%;
  margin-left:10%;
  padding-bottom:10px;
}
.mission-content .post,
.donate-content .post,
.location-content .post
{
  display:flex;
  flex-direction:column;
  height:150%;
  width:100%;
  margin:auto;
  padding:1%;
  transition:transform .1s;
}
.mission-content .post div ,.donate-conent .post div, .location-content .post div
{
  height:100%;
  width:100%;
}

.post-img
{
  border:1px solid black;
  width:100%;
  height:100%;
}
.mission-content .post:hover,
.donate-content .post:hover,
.location-content .post:hover
{
  border:1px solid black;
  background-color:white;
  color:black;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
}

.contact-button
{

  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color:black;
  font-weight:bold;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4);
  opacity: .8;
  background-color:#04d0f1;

}
.contact-button:hover
{
  background-color:#04d0f1;
  opacity: 1;
}
.contact-button:active
{
  opacity: 1;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.form-popup
{
  min-width:450px;
  min-height:450px;
  max-width:950px;
  max-height:750px;
  box-shadow: -10px 10px 200px 50px rgba(0, 0, 0, 0.4);
  background-color:White;
  position:absolute;
  display:none;
  flex-direction: column;
  width:50%;
  height:50%;
  margin-left:3%;
  border: 3px solid #f1f1f1;
  z-index: 999;
}
.sent
{
  box-shadow: -10px 10px 200px 50px rgba(0, 0, 0, 0.4);
  height:10%;
  width:20%;
  background-color:#04AA6D;
  border:3px solid #04915e;
  position:absolute;
  z-index:9999;
  display:none;
  margin-left:20%;
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size: 24pt;
}
.sent .message
{
  text-align:center;
}


.form-container
{
  font-family: 'Roboto', sans-serif;
  width:90%;
  height:100%;
  margin:auto;
}
.form-button-container
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  height:10%;
  width:100%;
  margin:auto;
  padding-bottom:1%;
}
.form-button-container div
{
  width:10%;
  height:100%;
  margin-left:1%;
}

.form-container input[type=text]
{
  font-family: 'Roboto', sans-serif;
  width: 90%;
  padding:5px;
  margin:auto;
  margin-bottom:1%;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus
{
  background-color: #ddd;
  outline: none;
}
.form-container textarea
{
  margin:auto;
  width:100%;
  height:60%;
  resize:none;
  box-sizing: border-box;
}


.form-button-container .btn
{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}


.form-button-container .cancel
{
  background-color: #DB232C;
}


.form-container .btn:hover
{
  opacity: 1;
}
#about-us, #donate, #location
{
  font-family:sans-serif;
  font-weight: bolder;
  font-size: 36px;
  text-align:center;
}
